body {
    font-family: sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    margin: 35px;
}

.contenedor {
    background: white;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    max-width: 250px;
    width: 90%;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    text-align: left;
    font-weight: bold;
    color: #444;
}

input {
    padding: 10px;
    border: 2px solid #ad9e9e;
    border-radius: 10px;
    font-size: 15px;
}

.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    flex: 1;
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background-color: #0078d7;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.1s ease;
}

button:hover {
    background-color: #005fa3;
}

.resultado {
    margin-top: 10px;
}

.qr-code {
    width: 250px;
    height: 250px;
    border: 2px solid #0078d7;
    border-radius: 10px;
    padding: 10px;
}